<mat-form-field appearance="fill">
    <mat-label>Article Type</mat-label>
    <mat-select [(ngModel)]="article.articletype">
        <mat-option value="Knowledge">Knowledge</mat-option>
        <mat-option value="Report">Report</mat-option>
        <mat-option value="Manage">Manage</mat-option>
        <mat-option value="Project">Project</mat-option>
        <mat-option value="Folder">Folder</mat-option>
        <!-- <mat-option value="3">Template</mat-option> -->
      </mat-select>
  </mat-form-field>
